.search-button{
    background-color: transparent;
    border: none;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 15px;
}
