.header__search-button{
    width: 70%;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 4px;
    
    .search__bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        width: 100%;

        input{
            border: none;
            background-color: transparent;
            color: #737373;
            font-size: 14px;
            font-style: italic;
            font-weight: 300;
            width: 100%;
            text-indent: 15px;
        }
    }
} 