.showcase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    h2{
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        color: #1A1A1A;
    }
    .showcase__elements{
        display: flex;
        justify-content: center;
        max-width: 950px;
        width: 100%;
        margin: 0 auto;
    }
}
